.is-hidden {
    display: none;
}


.custom-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    
}

.custom-loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #FF3D00;
    border-left: 4px solid transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.breed-select {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 200px;
}

.loader {
    padding-top: 40px;
    color: #FF3D00;
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
}

.error {
    color: red;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: navajowhite;
    margin-top: 20px;
}

.main-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.main-info img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;

}
.main-info h1 {
    font-size: 24px;
    margin: 10px 0;
    text-shadow:
        1px 1px 1px whitesmoke,
        2px 2px 1px whitesmoke;
}

.main-info p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    max-width: 500px;
    font-style: italic;
}


.main-info h2 {
    font-size: 15px;
    margin: 10px 0;
    text-shadow:
        1px 1px 1px whitesmoke,
        2px 2px 1px whitesmoke;
}

.main-info p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
